.template_sides {
  height: 100%;
  width: 100%;
  display: flex;
  color: #1f1f14;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.template_sides header {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  h1 {
    width: 40%;
    margin: 0;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
  }

  h4 {
    width: 100%;
    padding: 5px;
  }

}

.template_sides main {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel_fields_container {
  padding: 0 40px 40px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}


.template_sides_left_panel {
  width: 50%;
  height: 100%;
  text-align: right;
  border-right: 1px solid black;

  .template_sides_profile {
    margin-bottom: 3em;
  }

  .template_sides_experience_position_container {
    margin-bottom: 2em;
  }
}

.template_sides_right_panel {
  width: 50%;
  height: 100%;

  .contact {
    margin-bottom: 3em;
  }

  .education {
    margin-bottom: 1em;
  }

  .expertise {
    margin-bottom: 3em;
  }

  .template_classic_education_field {
    margin-bottom: 2em;
  }

  .template_sides_skills_container {

    margin-bottom: 2em;

    p {
      display: inline-block;
    }
  }

  .template_classic_languages_container {
    p span{
      font-weight: bold;
    }
  }
}

h1 {
  font-size: 1.1em;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0 0 0.8em 0;
}

h3 {
  font-size: 0.9em;
  text-transform: uppercase;
  margin: 0 0 0.7em 0;
}

h4 {
  font-size: 0.89em;
  font-family: 'Merienda', cursive;
  margin: 0 0 0.2em 0;
}

p {
  font-size: 0.85em;
  margin: 3px;
}


