

.btn_use_form {
  background-color: #2196f3;
  border: 2px solid #2196f3;
  color: white;

  &:hover {
    background-color: rgb(15, 20, 31);
    cursor: pointer;
    border-color: #2196f3;
  }
}

.btn_use_LiIn {
  background-color: rgb(15, 20, 31);
  border-color: white;

  &:hover {
    border-color: #2196f3;
    color: #2196f3;
    cursor: pointer;
  }
}


.choose_template {
  background-color: transparent;
  border: 2px solid #2196f3;
  width: 100%;

}

.choose_template:hover {
  background-color: #2196f3;
  border: none;
  cursor: pointer;
}

