
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}


.main_page_container {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(15, 20, 31);
  color: white;
}


.main_page_container header {
  height: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main_page_container header h1 {
  margin: 0;
  padding: 10px;
  font-size: 35px;
}


.main_page_container header p {
  width: 60%;
  font-size: 18px;
}

.main_page_content_container {
  height: 100%;
  width: 100%;
  margin: 0;
}

.main_page_container .btns_container {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn_container {
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.selection_btn {
  padding: 15px 30px 15px 30px;
  margin: 15px;
  color: white;
  border-radius: 4px;
  outline: none;
  transition: 0.4s ease-in-out;
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.selection_btn:active {
  transform: scale(0.95);
}
