/*Resume form*/

.form_page_container {
  height: 100%;
  width: 100%;
  background-color: rgb(15, 20, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.form_header {
  width: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 20px 0 40px 0;
}



.form_container {
  box-sizing: border-box;
  padding: 0 10% 0 10%;
  width: 100%;
}

div.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

div.form p {
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

div.form textarea {
  width: 40%;
  height: 100px;
  resize: none;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border: none;
}

div.form input {
  width: 20%;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border: none;
}

div.form label {
  font-size: 10px;
}

div.form select {
  width: 20%;
  text-align: center;
  font-size: 12px;
  padding: 2px;
}

.form_single_block {
  width: 100%;
  margin-bottom: 40px;
  display: flex;;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.input_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.position {
  width: 100%;
}

#add_new_position_field {
  width: 30%;
}

.add_resume_info {
  background-color: #2196f3;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 20%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.1s ease-in;
  box-shadow: rgba(46, 61, 73, 0.15) 8px 10px 20px 0;
}

.add_resume_info:hover {
  transform: scale(0.9);
}

.create_resume_btn {
  background-color: transparent;
  color: white;
  border: 3px solid dodgerblue;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 35%;
  height: 50px;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: rgba(46, 61, 73, 0.15) 8px 10px 20px 0;
  margin: 40px;
}

.create_resume_btn:hover {
  background-color: dodgerblue;
  color: rgb(15, 20, 31);
}
